<div>
  <link href="./component3.css" rel="stylesheet" />
  <div class="component3-container">
    <div class="component3-container1">
      <button
        id="signUp"
        name="signup_submit"
        type="submit"
        class="component3-button Button"
      >
        <span>Register</span>
      </button>
    </div>
    <span class="component3-text"><span>OR</span></span>
    <div class="signInWithGoogle">
      <img
        alt="image"
        src="public/google__g__logo-200w.png"
        class="component3-image"
      />
      <span class="component3-text1"><span>Sign up with Google</span></span>
    </div>
  </div>
</div>
