.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: auto;
  justify-content: flex-start;
  background-image: url("/colored-1500w.png");
  background-position: center;
}
.about-us-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-colorscheme-3);
}
.about-us-text {
  color: var(--dl-color-colorscheme-5);
  font-size: 3rem;
}
.about-us-text01 {
  color: var(--dl-color-colorscheme-5);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: row;
}
.about-us-step {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-us-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.about-us-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colorscheme-5);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-us-container03 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-colorscheme-1);
}
.about-us-icon {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.about-us-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colorscheme-5);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-us-container04 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.about-us-text04 {
  color: var(--dl-color-colorscheme-5);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text05 {
  color: var(--dl-color-colorscheme-5);
  font-size: 0.75rem;
  text-align: center;
}
.about-us-step1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-us-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.about-us-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colorscheme-5);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-us-container06 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-colorscheme-1);
}
.about-us-icon2 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.about-us-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colorscheme-5);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-us-container07 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.about-us-text09 {
  color: var(--dl-color-colorscheme-5);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text10 {
  color: var(--dl-color-colorscheme-5);
  font-size: 0.75rem;
  text-align: center;
}
.about-us-step2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-us-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.about-us-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colorscheme-5);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-us-container09 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-colorscheme-1);
}
.about-us-icon4 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.about-us-line5 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colorscheme-5);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-us-container10 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.about-us-text15 {
  color: var(--dl-color-colorscheme-5);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text16 {
  color: var(--dl-color-colorscheme-5);
  font-size: 0.75rem;
  text-align: center;
}
.about-us-step3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-us-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.about-us-line6 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colorscheme-5);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-us-container12 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-colorscheme-1);
}
.about-us-icon7 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.about-us-line7 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-colorscheme-5);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-us-container13 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.about-us-text19 {
  color: var(--dl-color-colorscheme-5);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text20 {
  color: var(--dl-color-colorscheme-5);
  font-size: 0.75rem;
  text-align: center;
}
.about-us-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  flex-direction: column;
  background-color: var(--dl-color-colorscheme-1);
}
.about-us-container14 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  flex-direction: column;
}
.about-us-text21 {
  color: var(--dl-color-colorscheme-5);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-us-separator {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-colorscheme-5);
}
.about-us-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-container16 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-us-image {
  width: 450px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.about-us-features1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
  background-color: var(--dl-color-colorscheme-5);
}
.about-us-text26 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.about-us-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 1600px) {
  .about-us-text04 {
    color: var(--dl-color-colorscheme-5);
    font-size: 1.5rem;
    font-weight: 500;
  }
  .about-us-text09 {
    color: var(--dl-color-colorscheme-5);
    font-size: 1.5rem;
    font-weight: 500;
  }
  .about-us-text15 {
    color: var(--dl-color-colorscheme-5);
    font-size: 1.5rem;
    font-weight: 500;
  }
  .about-us-text19 {
    color: var(--dl-color-colorscheme-5);
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media(max-width: 991px) {
  .about-us-text {
    text-align: center;
  }
  .about-us-text01 {
    text-align: center;
  }
  .about-us-features {
    align-items: center;
  }
  .about-us-container15 {
    flex-direction: column;
  }
  .about-us-image {
    width: 300px;
    height: 300px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
  }
  .about-us-text26 {
    align-self: center;
  }
  .about-us-container17 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .about-us-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-container01 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .about-us-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .about-us-container02 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .about-us-line1 {
    border-color: #D9D9D9;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .about-us-container04 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .about-us-text04 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text05 {
    text-align: left;
  }
  .about-us-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .about-us-container05 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .about-us-line2 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .about-us-line3 {
    border-color: #D9D9D9;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .about-us-container07 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .about-us-text09 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text10 {
    text-align: left;
  }
  .about-us-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .about-us-container08 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .about-us-line4 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .about-us-line5 {
    border-color: #D9D9D9;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .about-us-container10 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .about-us-text15 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text16 {
    text-align: left;
  }
  .about-us-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .about-us-container11 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .about-us-line6 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .about-us-line7 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .about-us-container13 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .about-us-text19 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text20 {
    text-align: left;
  }
  .about-us-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-text21 {
    text-align: center;
  }
  .about-us-container15 {
    flex-direction: column;
  }
  .about-us-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .about-us-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-container01 {
    padding-left: 0px;
  }
  .about-us-container04 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-text04 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .about-us-container07 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-text09 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .about-us-container10 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-text15 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .about-us-container13 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-text19 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .about-us-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-container16 {
    grid-template-columns: 1fr;
  }
  .about-us-image {
    width: 250px;
    height: 250px;
  }
  .about-us-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
