.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: auto;
  justify-content: flex-start;
  background-image: url("/colored-1500w.png");
  background-position: center;
}
.login-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.login-container02 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius25);
  flex-direction: column;
  background-color: var(--dl-color-colorscheme-5);
}
.login-container03 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.login-text {
  color: var(--dl-color-colorscheme-1);
}
.login-text1 {
  color: var(--dl-color-colorscheme-1);
}
.login-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.login-container04 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.login-container05 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.login-icon {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.login-textinput {
  width: 100%;
}
.login-container06 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.login-container07 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.login-icon2 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.login-textinput1 {
  width: 100%;
}
.login-icon4 {
  fill: var(--dl-color-colorscheme-2);
  width: 25px;
  height: 25px;
  align-self: center;
}
.login-container08 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.login-container09 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.login-checkbox {
  width: 25px;
  height: 25px;
}
.login-stay-signed-in {
  color: var(--dl-color-colorscheme-1);
}
.login-text4 {
  color: var(--dl-color-colorscheme-1);
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
}
.login-container10 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.login-container11 {
  display: flex;
  position: relative;
}
.login-button {
  color: rgb(255, 255, 255);
  width: auto;
  cursor: pointer;
  height: 100%;
  align-self: center;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-colorscheme-2);
}
.login-text5 {
  color: var(--dl-color-colorscheme-1);
  font-style: normal;
  font-weight: 900;
}
@media(max-width: 1600px) {
  .login-form {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .login-container02 {
    width: 90%;
  }
}
@media(max-width: 479px) {
  .login-container08 {
    align-items: flex-start;
    flex-direction: column;
  }
}
